$main: #242F46;
$dark-main: #1E2A42;

.dark-card {
  background-color: $dark-main;
  border-radius: 5px;
}

.col-flex {
  display: flex;
  justify-content: center;
}

.col-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-button {
  height: .5rem;
  max-height: 40px;
  white-space: nowrap;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #DCDFE6;
  border-color: #DCDFE6;
  border-radius: 4px;
  color: #606266;
  text-align: center;
  outline: none;
  margin: 0;
  transition: 0.1s;
  padding: 0 .1rem;
  font-weight: 500;
}

.custom-button:disabled {
  color: #FFFFFF;
  background-color: #9297a3;
  border-color: #9297a3;
  cursor: not-allowed;
  background-image: none;
}

.custom-input:disabled {
  color: #FFFFFF;
  background-color: #9297a3;
  border-color: #9297a3;
  cursor: not-allowed;
  background-image: none;
}

.custom-input {
  background-color: #FFFFFF;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #DCDFE6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: .5rem;
  max-height: 40px;
  outline: none;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}