$main: #242F46;
$dark-main: #1E2A42;

.dark-card {
  background-color: $dark-main;
  border-radius: 5px;
}

.col-flex {
  display: flex;
  justify-content: center;
}

.col-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}